.Primary-outline2 {
    width: 93px;
    height: 36px;
    border: 1px solid rgba(var(--theme-divider));
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: var(--theme-primary-main);
    margin: 10px;
}

.Primary-outline2:hover {
    width: 93px;
    height: 36px;
    border: 1px solid var(--theme-primary-main);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: var(--theme-primary-main);
    background: rgba(191, 35, 45, 0.07);
}
